Source: python3-libspot
Section: python
Priority: optional
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Build-Depends: debhelper (>=10)
Standards-Version: 3.9.6
Homepage: https://asiffer.github.io/libspot/


Package: python3-libspot
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libspot
Description: A python3 wrapper for libspot
 This package installs the python3 bindings
