Package: python3-libspot
Version: 1.1
Architecture: all
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 26
Depends: libspot-dev (>= 1.1)
Section: python
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: A python3 wrapper for libspot
 This package installs the python3 bindings
